@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Sora:wght@400;700&family=Golos+Text:wght@400..900&display=swap');



@import "tailwindcss";

@import"bootstrap-icons/font/bootstrap-icons.css";
@import"remixicon/fonts/remixicon.css";


:root{
  --prim:#CAA05C;
  --text:#1C1C1D;
  --body:#F6F6F6;
  --white:#fff;
  --black:#000;

  --CalSans: 'Sora', sans-serif;
  --GolosText: 'Golos Text', sans-serif;
  --AudioWide: 'Audiowide', sans-serif;

  --transition-regular:0.3s;
  --transition-slow:0.6s;
}

body{
  background-color: var(--body);
  
}

.AudioWide{
  font-family: var(--AudioWide);
}
.CalSans{
  font-family: var(--CalSans);
}
.GolosText{
  font-family: var(--GolosText);
}


/* Navbar */

nav, header, .navbar, [class*="navbar"] {
  z-index: 9999 !important;
}

.menu-link a{
  font-weight: 500;
  font-family: var(--GolosText);
  z-index: 1;
}


/* Hero Header*/

.hero{
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero:after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-image: url(../../public/Hero-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
}

.hero-span{
  position: relative;
}

.hero-span:after{
  content: '';
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: var(--prim);
}

.hero-bg-elm{
  position: absolute;
  top: 0;
  left: 30%;
  transform: translate(-50% , -50%);
  width: 400px;
  height: 400px;
  background-color: var(--white);
  border-radius: 100%;
  box-shadow: 0 0 40px rgba(131, 131, 131, 0.1);
  z-index: -1;
}
.hero-bg-elm2{
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50% , -50%);
  width: 700px;
  height: 700px;
  background-color: rgba(195, 195, 195, 0.3);
  border-radius: 100%;
  box-shadow: 0 0 40px rgba(131, 131, 131, 0.1);
  z-index: -1;
}

.hero-content-img i{
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50% , -50%);
  width: 70px;
  height: 70px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  color: var(--white);

}

.partner-swiper{
  padding: 20px !important;
}

.partner-img{
  transition: var(--transition-regular);
  cursor: pointer;
}

.partner-img:hover{
  transform: scale(1.1);
}

/* About section */

.about{
  background-image: url(@public/About-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.title{
  position: relative;
}

.title:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(131, 131, 131, 0.3);
}

.title:before{
  content: '';
  position: absolute;
  top: -20%;
  right: 10%;
  width: 1px;
  height: 250px;
  background-color: rgba(131, 131, 131, 0.3);
}

.title-span{
  position: relative;
  
}

.title-span:after{
  content: '';
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translate(-50% , -50%);
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: var(--prim);
}

/* Paralex */

.Paralex-wrap{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  will-change: transform, opacity;
}

.Paralex-wrap:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.65);
  z-index: -1;
}
.Paralex-content{
  height: 80vh;
}

/* Service Section  */

.service:after{
  content:"Setup-Teletravail";
  position: absolute;
  line-height: 9rem;
  bottom: 0;
  left: 10%;
  font-size: 7rem;
  font-weight: 800;
  font-family: var(--AudioWide);
  opacity: 0.1;
  color: gray;
}

.service:before{
  content: '';
  position: absolute;
  background-image: url(../../public/service-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  bottom: -13%;
  right: 10%;
  width: 800px;
  height: 450px;
}

.service-img{
  transform:scale(0);
  opacity: 0;
  transition: var(--transition-slow);
}

.service-card:hover .service-img{
  transform:scale(0.9);
  opacity: 1;
}

.service-card:hover i{
  transform: rotate(45deg);
  background-color: var(--prim);
  color: var(--white);
  padding: 6px 10px;
  border-radius: 50%;
}


/* Expertise */


.expertise-slider{
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translate(-50% , 0%);
  width: 70%;
  height: 700px;
  overflow: hidden;
  border-radius: 20px;
}

.expertise-slider img{
animation: Anim-scale 4s forwards linear;
border-radius: 20px;
}

/* Pricing Plans */

.pricing-wrap{
  background-image: url(../../public/pricing-banner.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.pricing-wrap:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #00000096 10%, #00000000);
  z-index: -1;
}


.pricing-card{
  position: relative;
  z-index: 1;   
}

.pricing-card:after{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../public/pricing-card-bg.png);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  z-index: -1;
}

/* Testimonial */

.testimonial-image{
  height: 90vh;
  background-image: url(../../public/testimonial-img.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.testimonial-image:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}

@keyframes Anim-scale {
  0%{
    transform: scale(0);
  }
  50%{
    transform: scale(1);
  }
  100%{
    transform: scale(1);
  }
}



@media (max-width: 991px) {
  .hero{
    height: 100%;
    margin-top: 8%;
  }
  .hero-content-img{
    top:70%;
  }

  .about{
    background-position: top center;

  }

  .service:after{
    bottom: auto;
    font-size:5rem;
    line-height: 7rem;
  }

  .service::before{
    height: 350px;
    width: 500px;
    bottom: -9%;
  }
  .service-img{
    transform: scale(1);
    opacity: 1;
    transition: var(--transition-slow);
  }

  .expertise-card{
    margin: 0 !important;
  }
  .expertise-slider{
    height: 550px;
    bottom: -20%;
  }

  .pricing-wrap{
    height: 300px;
  }

}
@media (max-width: 575px) {
  .hero{
    margin-top: 10%;
  }
  .hero-content-img{
    top:50% !important;
  }
  .service:before{
    display: none;
  }
  .expertise-slider{
    position: relative;
    width: 100%;
    height: 400px;
  }
}